@keyframes component-move-in 
  0%
    transform translateY(40px)
    opacity 0
  100%
    transform translateY(0)
    opacity 1


// 页面转场动画
.fade-router-view-leave-active 
  transition all .4s ease-in-out
.fade-router-view-enter-active
  transition all .4s ease-in-out .2s
.fade-router-view-enter-to, .fade-router-view-leave
  opacity 1
  transform translateY(0px)
.fade-router-view-enter
  opacity 0
  transform translateY(100px)
.fade-router-view-leave-to
  opacity 0
  transform translateY(-100px)

// 页面通用动画模块控制器 - 滚动切换动画

.fade-scroll-leave-active 
  transition all .2s ease-in-out
.fade-scroll-enter-active
  transition all .2s ease-in-out .2s
.fade-scroll-enter-to, .fade-scroll-leave
  opacity 1
  transform translateY(0px)
.fade-scroll-enter
  opacity 0
  transform translateY(-10px)
.fade-scroll-leave-to
  opacity 0
  transform translateY(10px)


// 全屏滚动

.full-page-down-leave-active,.full-page-up-leave-active
  transition all 1.2s cubic-bezier(0.86, 0, 0.07, 1)
.full-page-down-enter-active,.full-page-up-enter-active
  transition all 1.2s cubic-bezier(0.86, 0, 0.07, 1)
.full-page-down-enter-to
  transform translateY(0)
.full-page-down-leave
  transform translateY(0)
.full-page-down-enter
  transform translateY(100%)
.full-page-down-leave-to
  transform translateY(-100%)
.full-page-up-enter-to
  transform translateY(0)
.full-page-up-leave
  transform translateY(0)
.full-page-up-enter
  transform translateY(-100%)
.full-page-up-leave-to
  transform translateY(100%)

// 渐隐渐现动画

.fade-opacity-leave-active 
  transition all .4s ease-in-out .2s
.fade-opacity-enter-active 
  transition all .6s ease-in-out 
.fade-opacity-enter-to, .fade-opacity-leave
  opacity 1
.fade-opacity-enter, .fade-opacity-leave-to
  opacity 0