.cxd-button-white
  width 220px
  height 52px
  line-height 48px
  box-sizing border-box
  text-align center
  border 2px solid #000
  font-size 12px
  letter-spacing 4px
  color #000
  font-weight 900
  transition .2s all ease-in-out
  &:hover
    background-color #000000
    color #fff
    cursor pointer