blockquote
  display block
  margin 0
  padding 8px 0 8px 22px
  position relative
  overflow hidden
  p
    font-size 16px
    line-height 30px
    color #3A3A3A
    margin 0
  &:before
    content ''
    display block
    top 0
    bottom 0
    left 0
    width 2px
    background-color #000
    position absolute
