blockquote
  display block
  margin 0
  padding 8px 0 8px 22px
  position relative
  overflow hidden
  p
    font-size 16px
    line-height 30px
    color #3A3A3A
    margin 0
  &:before
    content ''
    display block
    top 0
    bottom 0
    left 0
    width 2px
    background-color #000
    position absolute

.doc 
  h1
    font-size 24px
    line-height 30px
    margin 50px 0 30px
    font-weight 900
  h2
    font-weight 900
    margin 16px 0
  p,h2
    font-size 16px
    line-height 30px
    color #3A3A3A
  h1,h2,h3,h4
    font-weight 700
    span 
      font-weight 700
  img 
    width 100%
  strong 
    span 
      font-weight 700
  

